<h1></h1>
<p>
  Welcome. <a href="http://itunes.apple.com/sn/app/flickrjuice/id424477518?mt=8/">FlickrJuice</a> is your perfect Flickr! companion on mobile devices</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>